{% extends "layout.html" %}
{% block body %}
<!-- Jumbotron -->
<div class="jumbotron p-0">

  <!-- Card image -->
    <div class="view overlay rounded-top">
    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(134).jpg" class="img-fluid" alt="Sample image">

    </div>
<!-- Card content -->
        <div class="card-body text-center mb-3">
	<!-- Title -->
            <br>
            <h3 class="title-w3 mb-md-5 mb-sm-4 mb-2 text-center font-weight-bold">Über mich</h3>
            <hr>
            <img class="d-flex mr-3 rounded-circle" src="/static/img/resmim.jpg" width="125" height="125" align="left">
            <p>
            Hallo, mein Name ist Ekrem Akbuga.Ich bin 32 Jahre alt,verheiratet und habe einen Sohn.Ich habe in der Türkei Mathematik
            studiert und nach dem Studium an zwei Gymnasien als Mathematiklehrer gearbeitet.Ich schloss an der Universität
            Canakkale 18 Mart in der Türkei mit dem Master Mathematik ab.Ich habe einen sehr hochwertigen Data Science mit Python-Kursen
            (Pandas,Numpy.Machinelles Lernen,etc.) bei Udemy und Coursera Online Platform wie Udacity besucht,erfolgreich abgeschlossen
            und Zertifikate erworben. Ich habe leider keine anderen Erfahrungen.Das ist mein Projekt über Flask,Python BlogSeite.
            </p>
            <hr>
	</div>
	        
        
<br>
</div>
{% endblock %}





	

